# .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
.env
.venv
env/
venv/
ENV/

# Poetry files
poetry.lock

# Django stuff:
*.log
db.sqlite3

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# Mypy cache
.mypy_cache/

# Ruff cache
.ruff_cache/

# VSCode settings
.vscode/

# Other
*.egg-info/
dist/
build/
